# Import

In [252]:
import requests
from bs4 import BeautifulSoup

import pandas as pd
import numpy as np

# Testing

In [253]:
link = "https://www.usclimatedata.com/climate/boston/massachusetts/united-states/usma0046/2012/1"

In [254]:
page = requests.get(link)
page

In [255]:
# creata BeautifulSoup parser
soup = BeautifulSoup(page.content, 'html.parser')

In [256]:
history = soup.find("div", id="history")
# history

In [257]:
left_column = history.find("div", class_="left_column")
#left_column

In [258]:
history_data = left_column.find("table", class_ ="daily_climate_table")
#history_data

# Methods

In [271]:
def method_date(history_data):
    
    date = history_data.findAll(
        "td", 
        class_="align_left daily_climate_table_td_day"
    )

    i = 0 
    array = []
    
    while i < len(date):
        array += date[i]
        i += 1 
    
    return array

In [272]:
def method_temperature_min(history_data):
    
    temperature = history_data.findAll(
        "td", 
        class_="align_right climate_table_data_td temperature_blue"
    )
    
    i = 0 
    array = []
    
    while i < len(temperature):
        array += temperature[i]
        
        i += 1
    
    return array

In [273]:
def method_temperature_max(history_data):
    
    temperature = history_data.findAll(
        "td", 
        class_ = "align_right climate_table_data_td temperature_red "
    )
    
    i = 0 
    array = []
    
    while i < len(temperature1):
        
        array += temperature1[i]
    
        i += 1
    
    return array

In [274]:
def method_precip(history_data):
    
    precip = history_data.findAll(
        "td", 
        class_="align_right climate_table_data_td"
    )

    i = 0
    array = []
    
    while i < len(precip):
        array += precip[i]
        i +=3
    
    return array

In [275]:
def method_snow(history_data):
    
    snow = history_data.findAll(
        "td", 
        class_="align_right climate_table_data_td"
    )
    
    i = 1
    array = []
    
    while i < len(snow):
        array += snow[i]
        i +=3
        
    return array

In [276]:
def method_snow_depth(history_data):
    
    snow_depth = history_data.findAll("td", class_="align_right climate_table_data_td")

    i = 2
    array = []
    while i < len(snow_depth):
        array += snow_depth[i]
            
        i += 3
    
    return array

In [277]:
def create_BS(link):
    
    page = requests.get(link)

    # creata BeautifulSoup parser
    soup = BeautifulSoup(page.content, 'html.parser')
   
    # history
    history = soup.find("div", id="history")
    
    #left_column
    left_column = history.find("div", class_="left_column")

    history_data = left_column.find("table", class_ ="daily_climate_table")

    return history_data

In [278]:
def parse(link):
    
    history_data = create_BS(link)
    
    # THEN
    
    # DATE
    date_array = method_date(history_data)
    
    # temperature min
    temperature_min_array = method_temperature_min(history_data)
    
    # temperature max
    temperature_max_array = method_temperature_max(history_data)
    
    # precip
    precip_array = method_precip(history_data)
    
    # snow
    snow_array = method_snow(history_data)
    
    # snow depth
    snow_depth_array = method_snow_depth(history_data)
    
    
    return date_array, temperature_min_array, temperature_max_array, precip_array, snow_aray, snow_depth_array

# Data

In [280]:
df = pd.DataFrame()

In [281]:
df['date'] = 0
df['temperatureMin'] = 0
df['temperatureMax'] = 0
df['precipitation'] = 0
df['snow'] = 0
df['snow_depth'] = 0

In [284]:
link = "https://www.usclimatedata.com/climate/boston/massachusetts/united-states/usma0046/2012/"

i = 1

while i <=12:
    date_array, temperature_min_array, temperature_max_array, precip_array, snow_aray, snow_depth_array = parse(
    link+str(i)
    )
    
    print(i)
    
    k = 0
    
    while k < len(date_array):
        df = df.append(
            {
                'date': date_array[k],
                'temperatureMin': temperature_array[k],
                'temperatureMax': temperature1_array[k],
                'precipitation': precip_array[k],
                'snow': snow_aray[k],
                'snow_depth': snow_depth_array[k]  
            },
            ignore_index=True          
        )
        k += 1
        
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12

In [285]:
link = "https://www.usclimatedata.com/climate/boston/massachusetts/united-states/usma0046/2013/"

i = 1

while i <=12:
    date_array, temperature_min_array, temperature_max_array, precip_array, snow_aray, snow_depth_array = parse(
    link+str(i)
    )
    
    print(i)
    
    k = 0
    
    while k < len(date_array):
        df = df.append(
            {
                'date': date_array[k],
                'temperatureMin': temperature_array[k],
                'temperatureMax': temperature1_array[k],
                'precipitation': precip_array[k],
                'snow': snow_aray[k],
                'snow_depth': snow_depth_array[k]  
            },
            ignore_index=True          
        )
        k += 1
        
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12

In [286]:
link = "https://www.usclimatedata.com/climate/boston/massachusetts/united-states/usma0046/2014/"

i = 1

while i <=12:
    date_array, temperature_min_array, temperature_max_array, precip_array, snow_aray, snow_depth_array = parse(
    link+str(i)
    )
    
    print(i)
    
    k = 0
    
    while k < len(date_array):
        df = df.append(
            {
                'date': date_array[k],
                'temperatureMin': temperature_array[k],
                'temperatureMax': temperature1_array[k],
                'precipitation': precip_array[k],
                'snow': snow_aray[k],
                'snow_depth': snow_depth_array[k]  
            },
            ignore_index=True          
        )
        k += 1
        
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12

In [287]:
link = "https://www.usclimatedata.com/climate/boston/massachusetts/united-states/usma0046/2015/"

i = 1

while i <=12:
    date_array, temperature_min_array, temperature_max_array, precip_array, snow_aray, snow_depth_array = parse(
    link+str(i)
    )
    
    print(i)
    
    k = 0
    
    while k < len(date_array):
        df = df.append(
            {
                'date': date_array[k],
                'temperatureMin': temperature_array[k],
                'temperatureMax': temperature1_array[k],
                'precipitation': precip_array[k],
                'snow': snow_aray[k],
                'snow_depth': snow_depth_array[k]  
            },
            ignore_index=True          
        )
        k += 1
        
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12

In [288]:
link = "https://www.usclimatedata.com/climate/boston/massachusetts/united-states/usma0046/2016/"

i = 1

while i <=12:
    date_array, temperature_min_array, temperature_max_array, precip_array, snow_aray, snow_depth_array = parse(
    link+str(i)
    )
    
    print(i)
    
    k = 0
    
    while k < len(date_array):
        df = df.append(
            {
                'date': date_array[k],
                'temperatureMin': temperature_array[k],
                'temperatureMax': temperature1_array[k],
                'precipitation': precip_array[k],
                'snow': snow_aray[k],
                'snow_depth': snow_depth_array[k]  
            },
            ignore_index=True          
        )
        k += 1
        
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12

In [289]:
link = "https://www.usclimatedata.com/climate/boston/massachusetts/united-states/usma0046/2017/"

i = 1

while i <=12:
    date_array, temperature_min_array, temperature_max_array, precip_array, snow_aray, snow_depth_array = parse(
    link+str(i)
    )
    
    print(i)
    
    k = 0
    
    while k < len(date_array):
        df = df.append(
            {
                'date': date_array[k],
                'temperatureMin': temperature_array[k],
                'temperatureMax': temperature1_array[k],
                'precipitation': precip_array[k],
                'snow': snow_aray[k],
                'snow_depth': snow_depth_array[k]  
            },
            ignore_index=True          
        )
        k += 1
        
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12

In [290]:
link = "https://www.usclimatedata.com/climate/boston/massachusetts/united-states/usma0046/2018/"

i = 1

while i <=12:
    date_array, temperature_min_array, temperature_max_array, precip_array, snow_aray, snow_depth_array = parse(
    link+str(i)
    )
    
    print(i)
    
    k = 0
    
    while k < len(date_array):
        df = df.append(
            {
                'date': date_array[k],
                'temperatureMin': temperature_array[k],
                'temperatureMax': temperature1_array[k],
                'precipitation': precip_array[k],
                'snow': snow_aray[k],
                'snow_depth': snow_depth_array[k]  
            },
            ignore_index=True          
        )
        k += 1
        
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12

In [291]:
df

             date temperatureMin temperatureMax precipitation  snow snow_depth
0      1 jan 2012           39.0           52.0          0.01  0.00          -
1      2 jan 2012           34.0           50.0          0.01  0.00          -
2      3 jan 2012           14.0           35.1          0.00  0.00          -
3      4 jan 2012           10.0           28.0          0.00  0.00          -
4      5 jan 2012           25.0           39.0          0.00  0.00          -
5      6 jan 2012           28.0           48.0             T     T          -
6      7 jan 2012           30.0           60.1          0.00  0.00          -
7      8 jan 2012           30.0           45.0          0.00  0.00          -
8      9 jan 2012           25.0           39.9          0.00  0.00          -
9     10 jan 2012           30.0           46.9          0.02  0.51          -
10    11 jan 2012           30.0           37.9          0.00  0.00          -
11    12 jan 2012           33.1           42.1          0.92  0.00          -
12    13 jan 2012           30.9           54.0          0.05  0.00          -
13    14 jan 2012           19.0           34.0          0.00  0.00          -
14    15 jan 2012            6.1           19.0          0.00  0.00          -
15    16 jan 2012           10.0           34.0          0.06  1.18          -
16    17 jan 2012           33.1           48.0          0.09  0.20          -
17    18 jan 2012           21.0           52.0          0.00  0.00          -
18    19 jan 2012           17.1           33.1          0.01  0.31          -
19    20 jan 2012           21.9           32.0          0.05  1.50          -
20    21 jan 2012           16.0           23.0          0.18  2.91          -
21    22 jan 2012           15.1           30.0          0.00  0.00          -
22    23 jan 2012           28.0           46.9          0.20     T          -
23    24 jan 2012           42.1           55.9          0.01  0.00          -
24    25 jan 2012           36.0           43.0          0.00  0.00          -
25    26 jan 2012           30.9           41.0          0.17  0.20          -
26    27 jan 2012           37.0           46.0          0.89  0.00          -
27    28 jan 2012           37.9           46.0          0.00  0.00          -
28    29 jan 2012           34.0           43.0          0.00  0.00          -
29    30 jan 2012           30.9           39.9             T     T          -
...           ...            ...            ...           ...   ...        ...
2525   2 dec 2018           34.0           50.0             -  0.00          -
2526   3 dec 2018           14.0           35.1             -  0.00          -
2527   4 dec 2018           10.0           28.0             -  0.00          -
2528   5 dec 2018           25.0           39.0             -  0.00          -
2529   6 dec 2018           28.0           48.0             -     T          -
2530   7 dec 2018           30.0           60.1             -  0.00          -
2531   8 dec 2018           30.0           45.0             -  0.00          -
2532   9 dec 2018           25.0           39.9             -  0.00          -
2533  10 dec 2018           30.0           46.9             -  0.51          -
2534  11 dec 2018           30.0           37.9             -  0.00          -
2535  12 dec 2018           33.1           42.1             -  0.00          -
2536  13 dec 2018           30.9           54.0             -  0.00          -
2537  14 dec 2018           19.0           34.0             -  0.00          -
2538  15 dec 2018            6.1           19.0             -  0.00          -
2539  16 dec 2018           10.0           34.0             -  1.18          -
2540  17 dec 2018           33.1           48.0             -  0.20          -
2541  18 dec 2018           21.0           52.0             -  0.00          -
2542  19 dec 2018           17.1           33.1             -  0.31          -
2543  20 dec 2018           21.9           32.0             -  1.50          -
2544  21 dec 2018           16.0           23.0             -  2.91          -
2545  22 dec 2018           15.1           30.0             -  0.00          -
2546  23 dec 2018           28.0           46.9             -     T          -
2547  24 dec 2018           42.1           55.9             -  0.00          -
2548  25 dec 2018           36.0           43.0             -  0.00          -
2549  26 dec 2018           30.9           41.0             -  0.20          -
2550  27 dec 2018           37.0           46.0             -  0.00          -
2551  28 dec 2018           37.9           46.0             -  0.00          -
2552  29 dec 2018           34.0           43.0             -  0.00          -
2553  30 dec 2018           30.9           39.9             -     T          -
2554  31 dec 2018           30.0           46.9             -  0.00          -

[2555 rows x 6 columns]

In [292]:
df.to_csv('total-weather.csv')