# Import

In [25]:
import numpy as np
import pandas as pd

# Read data

In [26]:
df = pd.read_csv('total-weather.csv')

In [27]:
df.head()

,Unnamed: 0,date,temperatureMin,temperatureMax,precipitation,snow,snow_depth
0,0,1 jan 2012,39.0,52.0,0.01,0.00,-
1,1,2 jan 2012,34.0,50.0,0.01,0.00,-
2,2,3 jan 2012,14.0,35.1,0.00,0.00,-
3,3,4 jan 2012,10.0,28.0,0.00,0.00,-
4,4,5 jan 2012,25.0,39.0,0.00,0.00,-

# Preparation

In [28]:
df = df.drop('Unnamed: 0', 1)

In [29]:
df.date = pd.to_datetime(df.date)

In [30]:
df['year'] = df['date'].apply(lambda x: x.year)

In [31]:
df.year.unique()

array([2012, 2013, 2014, 2015, 2016, 2017, 2018])

In [32]:
df['month'] = df['date'].apply(lambda x: x.month)

In [33]:
df.month.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [34]:
df['day'] = df['date'].apply(lambda x: x.day)

In [35]:
df.day.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31])

In [36]:
df.head()

,date,temperatureMin,temperatureMax,precipitation,snow,snow_depth,year,month,day
0,2012-01-01,39.0,52.0,0.01,0.00,-,2012,1,1
1,2012-01-02,34.0,50.0,0.01,0.00,-,2012,1,2
2,2012-01-03,14.0,35.1,0.00,0.00,-,2012,1,3
3,2012-01-04,10.0,28.0,0.00,0.00,-,2012,1,4
4,2012-01-05,25.0,39.0,0.00,0.00,-,2012,1,5

In [37]:
df.temperatureMin.describe()

count    2555.000000
mean       26.537808
std         9.246807
min         6.100000
25%        19.000000
50%        30.000000
75%        33.100000
max        42.100000
Name: temperatureMin, dtype: float64

In [38]:
df.temperatureMax.describe()

count    2555.000000
mean       41.597260
std         9.459914
min        19.000000
25%        34.000000
50%        43.000000
75%        48.000000
max        60.100000
Name: temperatureMax, dtype: float64

In [39]:
df.snow.unique()

array(['0.00', 'T', '0.51', '1.18', '0.20', '0.31', '1.50', '2.91'], dtype=object)

In [40]:
df.snow_depth.unique()

array(['-', '0.00'], dtype=object)

In [41]:
df.precipitation = pd.to_numeric(df.precipitation, errors='coerce')

In [42]:
df.precipitation.describe()

count    2138.000000
mean        0.124261
std         0.309036
min         0.000000
25%         0.000000
50%         0.000000
75%         0.070000
max         3.070000
Name: precipitation, dtype: float64

In [43]:
df.head()

,date,temperatureMin,temperatureMax,precipitation,snow,snow_depth,year,month,day
0,2012-01-01,39.0,52.0,0.01,0.00,-,2012,1,1
1,2012-01-02,34.0,50.0,0.01,0.00,-,2012,1,2
2,2012-01-03,14.0,35.1,0.00,0.00,-,2012,1,3
3,2012-01-04,10.0,28.0,0.00,0.00,-,2012,1,4
4,2012-01-05,25.0,39.0,0.00,0.00,-,2012,1,5

In [44]:
df = df.drop('snow_depth',1)

In [48]:
df.to_csv('total-weather-for-merge.csv')