# Import

In [1]:
import pandas as pd

# Read data

In [2]:
w = pd.read_csv('total-weather-for-merge.csv')

In [3]:
w.head()

,Unnamed: 0,date,temperatureMin,temperatureMax,precipitation,snow,year,month,day
0,0,2012-01-01,39.0,52.0,0.01,0.00,2012,1,1
1,1,2012-01-02,34.0,50.0,0.01,0.00,2012,1,2
2,2,2012-01-03,14.0,35.1,0.00,0.00,2012,1,3
3,3,2012-01-04,10.0,28.0,0.00,0.00,2012,1,4
4,4,2012-01-05,25.0,39.0,0.00,0.00,2012,1,5

In [4]:
w = w.drop('Unnamed: 0', 1)

In [5]:
w.snow = pd.to_numeric(w.snow, errors='coerce')

In [6]:
w.describe()

,temperatureMin,temperatureMax,precipitation,snow,year,month,day
count,2555.000000,2555.000000,2138.000000,2310.000000,2555.000000,2555.000000,2555.000000
mean,26.537808,41.597260,0.124261,0.247636,2015.000000,6.526027,15.720548
std,9.246807,9.459914,0.309036,0.628563,2.000392,3.448526,8.797969
min,6.100000,19.000000,0.000000,0.000000,2012.000000,1.000000,1.000000
25%,19.000000,34.000000,0.000000,0.000000,2013.000000,4.000000,8.000000
50%,30.000000,43.000000,0.000000,0.000000,2015.000000,7.000000,16.000000
75%,33.100000,48.000000,0.070000,0.200000,2017.000000,10.000000,23.000000
max,42.100000,60.100000,3.070000,2.910000,2018.000000,12.000000,31.000000

In [7]:
c = pd.read_csv('crime-boston_1.csv')

In [8]:
c.head()

,Unnamed: 0,Unnamed: 0.1,DAY_OF_WEEK,DISTRICT,HOUR,Lat,Long,MONTH,OCCURRED_ON_DATE,OFFENSE_CODE_GROUP,REPORTING_AREA,SHOOTING,UCR_PART,YEAR,Day,Night,ToNight,ToDay
0,0,0,Sunday,2.0,6,42.346381,-71.103794,7,2012-07-08 06:00:00,Residential Burglary,629.0,0.0,1.0,2012,1,0,16,0
1,1,1,Sunday,1.0,6,42.316841,-71.074585,7,2012-07-08 06:03:00,Aggravated Assault,327.0,1.0,1.0,2012,1,0,16,0
2,2,2,Sunday,2.0,6,42.342841,-71.096990,7,2012-07-08 06:26:00,Robbery,625.0,0.0,1.0,2012,1,0,16,0
3,3,3,Sunday,1.0,6,42.316441,-71.065829,7,2012-07-08 06:56:00,Other,258.0,0.0,1.0,2012,1,0,16,0
4,4,4,Sunday,9.0,7,42.270516,-71.119900,7,2012-07-08 07:15:00,Robbery,496.0,0.0,1.0,2012,1,0,15,0

In [9]:
c = c.drop('Unnamed: 0',1)

In [10]:
w.columns

Index(['date', 'temperatureMin', 'temperatureMax', 'precipitation', 'snow',
       'year', 'month', 'day'],
      dtype='object')

In [11]:
c.OCCURRED_ON_DATE = pd.to_datetime(c.OCCURRED_ON_DATE)

In [12]:
c['DAY'] = c.OCCURRED_ON_DATE.dt.day

In [13]:
c['temperatureMin'] = 0
c['temperatureMax'] = 0
c['precipitation'] = 0
c['snow'] = 0

# Merging

In [14]:
year = 2012
m = 7

while m <=12:
    
    d = 1
    
    while d <= len(w.day.loc[(w.year == year) & (w.month == m)].unique()):
        
        # temperatureMin
        tmin = w.temperatureMin.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.temperatureMin.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(tmin)
        
        # temperatureMin
        tmax = w.temperatureMax.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.temperatureMax.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(tmax)
        
        
        # precipitation
        p = w.precipitation.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.precipitation.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(p)
        
        # snow
        sn = w.snow.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.snow.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(sn)
        
        d +=1
    
    m += 1

/home/olexandr/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [15]:
year = 2013
m = 1

while m <=12:
    
    d = 1
    
    while d <= len(w.day.loc[(w.year == year) & (w.month == m)].unique()):
        
        # temperatureMin
        tmin = w.temperatureMin.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.temperatureMin.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(tmin)
        
        # temperatureMin
        tmax = w.temperatureMax.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.temperatureMax.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(tmax)
        
        
        # precipitation
        p = w.precipitation.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.precipitation.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(p)
        
        # snow
        sn = w.snow.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.snow.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(sn)
        
        d +=1
    
    m += 1

/home/olexandr/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [16]:
year = 2014
m = 1

while m <=12:
    
    d = 1
    
    while d <= len(w.day.loc[(w.year == year) & (w.month == m)].unique()):
        
        # temperatureMin
        tmin = w.temperatureMin.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.temperatureMin.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(tmin)
        
        # temperatureMin
        tmax = w.temperatureMax.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.temperatureMax.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(tmax)
        
        
        # precipitation
        p = w.precipitation.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.precipitation.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(p)
        
        # snow
        sn = w.snow.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.snow.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(sn)
        
        d +=1
    
    m += 1

/home/olexandr/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [17]:
year = 2015
m = 1

while m <=12:
    
    d = 1
    
    while d <= len(w.day.loc[(w.year == year) & (w.month == m)].unique()):
        
        # temperatureMin
        tmin = w.temperatureMin.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.temperatureMin.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(tmin)
        
        # temperatureMin
        tmax = w.temperatureMax.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.temperatureMax.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(tmax)
        
        
        # precipitation
        p = w.precipitation.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.precipitation.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(p)
        
        # snow
        sn = w.snow.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.snow.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(sn)
        
        d +=1
    
    m += 1

/home/olexandr/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [18]:
year = 2016
m = 1

while m <=12:
    
    d = 1
    
    while d <= len(w.day.loc[(w.year == year) & (w.month == m)].unique()):
        
        # temperatureMin
        tmin = w.temperatureMin.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.temperatureMin.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(tmin)
        
        # temperatureMin
        tmax = w.temperatureMax.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.temperatureMax.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(tmax)
        
        
        # precipitation
        p = w.precipitation.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.precipitation.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(p)
        
        # snow
        sn = w.snow.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.snow.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(sn)
        
        d +=1
    
    m += 1

/home/olexandr/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [19]:
year = 2017
m = 1

while m <=12:
    
    d = 1
    
    while d <= len(w.day.loc[(w.year == year) & (w.month == m)].unique()):
        
        # temperatureMin
        tmin = w.temperatureMin.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.temperatureMin.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(tmin)
        
        # temperatureMin
        tmax = w.temperatureMax.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.temperatureMax.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(tmax)
        
        
        # precipitation
        p = w.precipitation.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.precipitation.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(p)
        
        # snow
        sn = w.snow.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.snow.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(sn)
        
        d +=1
    
    m += 1

/home/olexandr/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [20]:
year = 2018
m = 1

while m <=12:
    
    d = 1
    
    while d <= len(w.day.loc[(w.year == year) & (w.month == m)].unique()):
        
        # temperatureMin
        tmin = w.temperatureMin.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.temperatureMin.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(tmin)
        
        # temperatureMin
        tmax = w.temperatureMax.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.temperatureMax.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(tmax)
        
        
        # precipitation
        p = w.precipitation.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.precipitation.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(p)
        
        # snow
        sn = w.snow.loc[
            (w.year == year) & (w.month == m) & (w.day == d)
        ]
        
        c.snow.loc[
            (c.YEAR == year) & (c.MONTH == m) & (c.DAY == d)
        ] = float(sn)
        
        d +=1
    
    m += 1

/home/olexandr/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [21]:
c[['temperatureMin','temperatureMax','precipitation','snow']].describe()

       temperatureMin  temperatureMax  precipitation           snow
count   575226.000000   575226.000000  505337.000000  520894.000000
mean        26.528302       41.570088       0.121373       0.251281
std          9.314445        9.570386       0.304624       0.634202
min          0.000000        0.000000       0.000000       0.000000
25%         19.000000       34.000000       0.000000       0.000000
50%         30.000000       43.000000       0.000000       0.000000
75%         33.100000       48.000000       0.070000       0.200000
max         42.100000       60.100000       3.070000       2.910000

In [22]:
c['temperatureDifference'] = c['temperatureMax'] - c['temperatureMin']

In [23]:
c['temperatureDifference'].describe()

count    575226.000000
mean         15.041786
std           6.139154
min           0.000000
25%           9.000000
50%          14.900000
75%          18.000000
max          31.000000
Name: temperatureDifference, dtype: float64

In [24]:
c[['temperatureDifference','temperatureMax','temperatureMin']].head()

   temperatureDifference  temperatureMax  temperatureMin
0                   15.0            45.0            30.0
1                   15.0            45.0            30.0
2                   15.0            45.0            30.0
3                   15.0            45.0            30.0
4                   15.0            45.0            30.0

In [25]:
c.shape

(575226, 23)

In [26]:
c.isnull().sum()

Unnamed: 0.1                 0
DAY_OF_WEEK                  0
DISTRICT                  1776
HOUR                         0
Lat                      20020
Long                     20020
MONTH                        0
OCCURRED_ON_DATE             0
OFFENSE_CODE_GROUP           0
REPORTING_AREA           20265
SHOOTING                     0
UCR_PART                    93
YEAR                         0
Day                          0
Night                        0
ToNight                      0
ToDay                        0
DAY                          0
temperatureMin               0
temperatureMax               0
precipitation            69889
snow                     54332
temperatureDifference        0
dtype: int64

In [27]:
c.to_csv('finish-crime-weather.csv')