In [1]:
import numpy as np
import pandas as pd

# Link
https://data.boston.gov/dataset/charging-stations/resource/2ce19df4-7070-4e0a-b009-c92e7e2b2f11

In [2]:
df1 = pd.read_csv('data/Charging_Stations.csv')

In [3]:
df1.head()

,X,Y,OBJECTID,Fuel_Type_Code,Station_Name,Street_Address,Intersection_Directions,City,State,ZIP,...,Updated_At,Owner_Type_Code,Federal_Agency_ID,Federal_Agency_Name,Open_Date,Hydrogen_Status_Link,NG_Vehicle_Class,LPG_Primary,E85_Blender_Pump,EV_Connector_Types
0,-71.054772,42.355398,1,ELEC,50 POST OFFICE,50 Post Office Square,STATION #3; The station is on the first level ...,Boston,MA,2109,...,2016-02-04 09:40:13 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J1772
1,-71.074718,42.337886,2,ELEC,TRANSCOMM,2 E Concord St,"710 D; 1st level of garage, east side\n710 C; ...",Boston,MA,2118,...,2016-02-04 08:48:05 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NEMA520 J1772
2,-71.010123,42.388742,3,ELEC,CHARGE STATION,100 Boardman St.,HILTON3; East side of hotel\nHILTON2; East sid...,Boston,MA,2128,...,2016-02-04 09:38:12 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J1772
3,-71.101414,42.344170,4,ELEC,TRILOGY,180 Brookline Ave,FEN RES; Welcome,Boston,MA,2215,...,2016-02-04 09:26:32 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J1772
4,-71.082597,42.347280,5,ELEC,PRUDENTIAL CTR,I-90,P1-RED LEVEL A; South Garage P1 Red Level,Boston,MA,2199,...,2016-02-04 08:55:27 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J1772

In [4]:
df1 = df1[['X','Y']]

In [5]:
df1.shape

(55, 2)

In [6]:
df1.describe()

               X          Y
count  55.000000  55.000000
mean  -71.075117  42.350512
std     0.029698   0.010212
min   -71.169089  42.321078
25%   -71.093158  42.346139
50%   -71.065575  42.351069
75%   -71.055532  42.355755
max   -71.010123  42.388742

In [7]:
df = pd.read_csv('data/finish-crime-weather.csv')

In [8]:
df['Charging_Stations_distance_25'] = 0
df['Charging_Stations_distance_min'] = 0
df['Charging_Stations_number_near'] = 0

In [9]:
def distance(x1,y1,x2,y2):    
    return ((x1-x2)**2+(y1-y2)**2)**(1/2)

In [10]:
i = 0

while i < len(df):
    
    k = 0
    
    array = []
    
    while k < len(df1):
        
        
        array.append(
            distance(
                df1.Y[k],
                df1.X[k],
                df.Lat[i],
                df.Long[i]
            )
        )
        
        
        k += 1
    
    n = 0
    number_near = 0
    
    
    while n < len(array):
        
        if (array[n]*100000) < 3000:
            number_near += 1
            n +=1
        else:
            n += 1
    
    
    a = np.array(array)
    
    df['Charging_Stations_distance_25'][i] = np.percentile(a, 25)*100000
    df['Charging_Stations_distance_min'][i] = a.min()*100000
    df['Charging_Stations_number_near'][i] = number_near
    
    i += 1

/home/olexandr/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/olexandr/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/olexandr/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

KeyboardInterrupt:

In [11]:
df.head()

,Unnamed: 0,Unnamed: 0.1,DAY_OF_WEEK,DISTRICT,HOUR,Lat,Long,MONTH,OCCURRED_ON_DATE,OFFENSE_CODE_GROUP,...,ToDay,DAY,temperatureMin,temperatureMax,precipitation,snow,temperatureDifference,Charging_Stations_distance_25,Charging_Stations_distance_min,Charging_Stations_number_near
0,0,0,Sunday,2.0,6,42.346381,-71.103794,7,2012-07-08 06:00:00,Residential Burglary,...,0,8,30.0,45.0,0.0,0.0,15.0,2292,222,18
1,1,1,Sunday,1.0,6,42.316841,-71.074585,7,2012-07-08 06:03:00,Aggravated Assault,...,0,8,30.0,45.0,0.0,0.0,15.0,3428,2057,5
2,2,2,Sunday,2.0,6,42.342841,-71.096990,7,2012-07-08 06:26:00,Robbery,...,0,8,30.0,45.0,0.0,0.0,15.0,2178,192,18
3,3,3,Sunday,1.0,6,42.316441,-71.065829,7,2012-07-08 06:56:00,Other,...,0,8,30.0,45.0,0.0,0.0,15.0,3559,1955,5
4,4,4,Sunday,9.0,7,42.270516,-71.119900,7,2012-07-08 07:15:00,Robbery,...,0,8,30.0,45.0,0.0,0.0,15.0,8255,5142,0