In [1]:
import numpy as np
import pandas as pd

# Link

https://data.boston.gov/dataset/boston-police-stations/resource/0b2be5cb-89c6-4328-93be-c54ba723f8db

In [2]:
df = pd.read_csv('data/Boston_Police_Stations.csv')

In [3]:
df.head()

,X,Y,OBJECTID,BLDG_ID,BID,ADDRESS,POINT_X,POINT_Y,NAME,NEIGHBORHOOD,CITY,ZIP,FT_SQFT,STORY_HT,PARCEL_ID
0,-71.124269,42.256482,1,Bos_1809107000_B0,100639,1249 Hyde Park Ave,757882.716120,2.918710e+06,District E-18 Police Station,Hyde Park,Boston,2136,8585.0,2.0,1809107000
1,-71.148368,42.286786,2,Bos_2005719000_B0,112112,1708 Centre St,751313.455964,2.929725e+06,District E-5 Police Station,West Roxbury,Boston,2132,7708.0,2.0,2005719000
2,-71.038676,42.371058,3,Bos_0105699000_B0,131503,69 Paris St,780827.989455,2.960577e+06,District A-7 Police Station,East Boston,Boston,2128,5063.0,2.0,105699000
3,-71.060307,42.361825,4,Bos_0302626000_B0,136171,40 New Sudbury St,775000.193368,2.957181e+06,District A-1 Police Station,Boston,Boston,2114,6882.0,5.0,302626000
4,-71.150578,42.349395,5,Bos_2202387000_B0,145004,301 Washington St,750621.846127,2.952539e+06,District D-14 Police Station,Brighton,Boston,2135,8712.0,2.0,2202387000

In [4]:
df = df[['X','Y']]

In [5]:
df.shape

(13, 2)

In [6]:
df

            X          Y
0  -71.124269  42.256482
1  -71.148368  42.286786
2  -71.038676  42.371058
3  -71.060307  42.361825
4  -71.150578  42.349395
5  -71.056047  42.376467
6  -71.054936  42.341164
7  -71.069240  42.339440
8  -71.090748  42.334192
9  -71.085684  42.328385
10 -71.104639  42.309722
11 -71.091702  42.284729
12 -71.059165  42.298066

In [7]:
crime = pd.read_csv('data/finish-crime-weather.csv')

In [8]:
crime['police-station-distance-min'] = 0
crime['police-station-distance-25'] = 0
crime['police-station-number-near'] = 0

In [9]:
def distance(x1,y1,x2,y2):    
    return ((x1-x2)**2+(y1-y2)**2)**(1/2)

In [ ]:
i = 0

while i < len(crime):
    
    k = 0
    
    array = []
    
    while k < len(df):
        
        
        array.append(
            distance(
                df.Y[k],
                df.X[k],
                crime.Lat[i],
                crime.Long[i]
            )
        )
        
        
        k += 1
    
    n = 0
    number_near = 0
    
    
    while n < len(array):
        
        if (array[n]*100000) < 3000:
            number_near += 1
            n +=1
        else:
            n += 1
    
    
    a = np.array(array)
    
    crime['police-station-distance-min'][i] = a.min()*100000
    crime['police-station-distance-25'][i] = np.percentile(a, 25)*100000
    crime['police-station-number-near'][i] = number_near
    
    i += 1

/home/oleksandr/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/oleksandr/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/oleksandr/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/oleksandr/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/home/oleksandr/anaconda3/lib/python3.6/site-packages/numpy/lib/function_base.py:4291: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

In [ ]:
crime.head(10)

In [ ]:
df.to_csv('data/df-police-5.csv')