In [2]:
import numpy as np
import pandas as pd

# Link

https://data.boston.gov/dataset/streetlight-locations/resource/c2fcc1e3-c38f-44ad-a0cf-e5ea2a6585b5

In [3]:
df = pd.read_csv('data/streetlight-locations.csv')

In [4]:
df.head()

,the_geom,OBJECTID,TYPE,Lat,Long
0,POINT (-71.0760443807948 42.35315925057316),1,LIGHT,42.353159,-71.076044
1,POINT (-71.07538171240694 42.353347768071195),2,LIGHT,42.353348,-71.075382
2,POINT (-71.07477488057383 42.35352052068278),3,LIGHT,42.353521,-71.074775
3,POINT (-71.07440373484715 42.3535558201314),4,LIGHT,42.353556,-71.074404
4,POINT (-71.07362079549182 42.35381056415504),5,LIGHT,42.353811,-71.073621

In [5]:
df.shape

(74065, 5)

In [6]:
df.TYPE.unique()

array(['LIGHT', 'LIGHT`', 'light', nan, 'LIGHTS', '1795', '0785'], dtype=object)

In [8]:
df = df[['Lat', 'Long']]