In [2]:
import numpy as np
import pandas as pd

# Link

https://data.boston.gov/dataset/community-center-pools/resource/6b8beff9-4d7d-4612-a824-fdfef631724c

In [3]:
df = pd.read_csv('data/Community_center_pools.csv')

In [4]:
df.head()

,X,Y,FID,OBJECTID_1,OBJECTID,PHONE,FAX,STREET,NEIGH,ZIP,SITE
0,-71.036892,42.372427,1,1.0,0.0,635-1410,635-5079,113 Paris St.,East Boston,2128,BCYF Paris Street Pool
1,-71.060951,42.380995,2,2.0,0.0,635-5169,635-5084,255 Medford St.,Charlestown,2129,BCYF Charlestown
2,-71.064962,42.347949,3,3.0,0.0,635-5129,635-5132,885 Washington St,Boston,2111,BCYF Quincy
3,-71.052527,42.338151,4,4.0,0.0,635-5100,635-5103,"200 ""D"" St.",South Boston,2127,BCYF Condon
4,-71.073004,42.340381,5,5.0,0.0,635-5162,635-5057,50 W. Brookline S,Boston,2118,BCYF Blackstone

In [7]:
df = df[['X','Y']]

In [8]:
df.head()

           X          Y
0 -71.036892  42.372427
1 -71.060951  42.380995
2 -71.064962  42.347949
3 -71.052527  42.338151
4 -71.073004  42.340381