# Merge data
Source data => Boston public safety => https://data.boston.gov/group/public-safety

We did not get good results. Our main problem is not enough data. We need to add new rows and columns.

**How can we add rows?**

Boston have website with open data for crime. 

Crime Incident Reports (July 2012 - August 2015) (Source: Legacy System). 

**Link:** 
https://data.boston.gov/dataset/crime-incident-reports-july-2012-august-2015-source-legacy-system

We have two data sets with crime incidents in Boston. And we need to merge these data sets. But there is one problem. It is different system for crime reporting.

# 1. Import

In [1251]:
import numpy as np
import pandas as pd

# 2. Read data

- df1 > Crime Incident Reports (July 2012 - August 2015) (Source: Legacy System)
- https://data.boston.gov/dataset/crime-incident-reports-july-2012-august-2015-source-legacy-system

In [1252]:
df1 = pd.read_csv('crime-incident-reports-july-2012---august-2015-source-legacy-system.csv') 
df1.shape

/home/olexandr/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(268056, 20)

- df2 > Crime Incident Reports (August 2015 - To Date) (Source: New System)
- https://data.boston.gov/dataset/crime-incident-reports-august-2015-to-date-source-new-system

In [1253]:
df2 = pd.read_csv('crimeincidentreports.csv')
df2.shape

(319628, 17)

# 3. Crime Incident Reports (July 2012 - August 2015) (Source: Legacy System) - Research

### 3.1. Data structure

In [1254]:
df1.head()

,COMPNOS,NatureCode,INCIDENT_TYPE_DESCRIPTION,MAIN_CRIMECODE,REPTDISTRICT,REPORTINGAREA,FROMDATE,WEAPONTYPE,Shooting,DOMESTIC,SHIFT,Year,Month,DAY_WEEK,UCRPART,X,Y,STREETNAME,XSTREETNAME,Location
0,120420285.0,BERPTA,RESIDENTIAL BURGLARY,05RB,D4,629,07/08/2012 06:00:00 AM,Other,No,No,Last,2012,7,Sunday,Part One,763273.1791,2951498.962,ABERDEEN ST,NaN,"(42.34638135, -71.10379454)"
1,120419202.0,PSHOT,AGGRAVATED ASSAULT,04xx,B2,327,07/08/2012 06:03:00 AM,Firearm,Yes,No,Last,2012,7,Sunday,Part One,771223.1638,2940772.099,HOWARD AV,NaN,"(42.31684135, -71.07458456)"
2,120419213.0,ARMROB,ROBBERY,03xx,D4,625,07/08/2012 06:26:00 AM,Firearm,No,No,Last,2012,7,Sunday,Part One,765118.8605,2950217.536,JERSEY ST,QUEENSBERRY ST,"(42.34284135, -71.09698955)"
3,120419223.0,ALARMC,COMMERCIAL BURGLARY,05CB,B2,258,07/08/2012 06:56:00 AM,Other,No,No,Last,2012,7,Sunday,Part One,773591.8648,2940638.174,COLUMBIA RD,NaN,"(42.3164411, -71.06582908)"
4,120419236.0,ARMROB,ROBBERY,03xx,E18,496,07/08/2012 07:15:00 AM,Firearm,No,No,Last,2012,7,Sunday,Part One,759042.7315,2923832.681,COLLINS ST,NaN,"(42.27051636, -71.11989955)"

In [1255]:
df1.columns

Index(['COMPNOS', 'NatureCode', 'INCIDENT_TYPE_DESCRIPTION', 'MAIN_CRIMECODE',
       'REPTDISTRICT', 'REPORTINGAREA', 'FROMDATE', 'WEAPONTYPE', 'Shooting',
       'DOMESTIC', 'SHIFT', 'Year', 'Month', 'DAY_WEEK', 'UCRPART', 'X', 'Y',
       'STREETNAME', 'XSTREETNAME', 'Location'],
      dtype='object')

###### COMPNOS

- This column have 255797 different values. 
- Not useful. Deleted

In [1256]:
len(df1['COMPNOS'].unique())

255797

###### NatureCode

- This column have 255797 different values, which don't exist in main dataset.
- Not useful. Deleted

In [1257]:
# ???

len(df1['NatureCode'].unique())

320

##### INCIDENT_TYPE_DESCRIPTION

- I did not use it for modeling, but it is useful for research some values.
- Use for research, and deleted

In [1258]:
print(len(df1['INCIDENT_TYPE_DESCRIPTION'].unique()))

127

###### MAIN_CRIMECODE

- We will merge it with OFFENSE_CODE_GROUP
- This column need to deep research.

In [1259]:
print(len(df1['MAIN_CRIMECODE'].unique()))
# df1['MAIN_CRIMECODE'].unique()

77

In [1260]:
#df1['MAIN_CRIMECODE'].value_counts()

###### REPTDISTRICT

- We will merge it with DISTRICT
- Good

In [1261]:
print(len(df1['REPTDISTRICT'].unique()))
df1['REPTDISTRICT'].unique()

14

array(['D4', 'B2', 'E18', 'C11', 'A1', 'D14', 'C6', 'E13', 'B3', 'A7',
       'A15', 'E5', 'HTU', nan], dtype=object)

###### REPORTINGAREA

- We will merge it with REPORTING_AREA
- Good

In [1262]:
len(df1['REPORTINGAREA'].unique())

886

###### WEAPONTYPE

In [1263]:
df1['WEAPONTYPE'].unique()

array(['Other', 'Firearm', 'Unarmed', 'Knife', 'None',
       'Knife/Cutting Instrument', 'Personal Weapon (hand  foot  etc.)',
       'Blunt Object'], dtype=object)

###### Shooting

In [1264]:
df1['Shooting'].unique()

array(['No', 'Yes'], dtype=object)

###### UCRPART

In [1265]:
df1['UCRPART'].unique()

array(['Part One', 'Part Two', 'Part Three', 'Other', 'Part three'], dtype=object)

# 4. Crime Incident Reports (August 2015 - To Date) (Source: New System) - Research

In [1266]:
df2.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,2018-09-03 21:05:00,2018,9,Monday,21,Part Three,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"

In [1267]:
len(df2['OFFENSE_DESCRIPTION'].unique())

244

In [1268]:
len(df2['REPORTING_AREA'].unique())

879

In [1269]:
print(len(df2['OFFENSE_CODE_GROUP'].unique()))
#df2['OFFENSE_CODE_GROUP'].unique()

67

In [1270]:
#df2['OFFENSE_CODE_GROUP'].value_counts().head(20)

In [1271]:
#df2['OFFENSE_CODE']

# 5. Preparation data sets

In [1272]:
df1.columns

Index(['COMPNOS', 'NatureCode', 'INCIDENT_TYPE_DESCRIPTION', 'MAIN_CRIMECODE',
       'REPTDISTRICT', 'REPORTINGAREA', 'FROMDATE', 'WEAPONTYPE', 'Shooting',
       'DOMESTIC', 'SHIFT', 'Year', 'Month', 'DAY_WEEK', 'UCRPART', 'X', 'Y',
       'STREETNAME', 'XSTREETNAME', 'Location'],
      dtype='object')

In [1273]:
df2.columns

Index(['INCIDENT_NUMBER', 'OFFENSE_CODE', 'OFFENSE_CODE_GROUP',
       'OFFENSE_DESCRIPTION', 'DISTRICT', 'REPORTING_AREA', 'SHOOTING',
       'OCCURRED_ON_DATE', 'YEAR', 'MONTH', 'DAY_OF_WEEK', 'HOUR', 'UCR_PART',
       'STREET', 'Lat', 'Long', 'Location'],
      dtype='object')

##  5.1. Which columns we can merge, and which columns we will delete?

###### df1 - df2
- REPTDISTRICT - DISTRICT
- REPORTINGAREA - REPORTING_AREA
- FROMDATE - OCCURRED_ON_DATE
- Year - YEAR
- Month - MONTH
- DAY_WEEK - DAY_OF_WEEK
- UCRPART - UCR_PART
- Shooting - SHOOTING
- Location - Location
- MAIN_CRIMECODE - OFFENSE_CODE_GROUP
- X\Y - Lat\Long

##### df1 - delete
- COMPNOS
- NatureCode
- INCIDENT_TYPE_DESCRIPTION
- WEAPONTYPE
- DOMESTIC
- SHIFT
- STREETNAME
- XSTREETNAME

In [1274]:
df1 = df1.drop('COMPNOS',1)
df1 = df1.drop('NatureCode',1)
df1 = df1.drop('INCIDENT_TYPE_DESCRIPTION',1)
df1 = df1.drop('WEAPONTYPE',1)
df1 = df1.drop('DOMESTIC',1)
df1 = df1.drop('SHIFT',1)
df1 = df1.drop('STREETNAME',1)
df1 = df1.drop('XSTREETNAME',1)

##### df2 - delete

In [1275]:
df2 = df2.drop('INCIDENT_NUMBER',1)
df2 = df2.drop('OFFENSE_CODE',1)
df2 = df2.drop('OFFENSE_DESCRIPTION',1)
df2 = df2.drop('STREET',1)

##### df1 - rename

In [1276]:
df1.rename(
    columns={
        "REPTDISTRICT": "DISTRICT",
        "REPORTINGAREA": "REPORTING_AREA",
        "FROMDATE": "OCCURRED_ON_DATE",
        "Year": "YEAR",
        "Month": "MONTH",
        "DAY_WEEK": "DAY_OF_WEEK",
        "UCRPART": "UCR_PART",
        "Shooting": "SHOOTING",
        "MAIN_CRIMECODE": "OFFENSE_CODE_GROUP"
    }, 
    inplace=True
)

## 5.2. District

I merged it without problems. 

NaN sum = 1 776

###### df1

In [1277]:
print(df1['DISTRICT'].isnull().sum())
df1['DISTRICT'].value_counts()

357

B2     40640
D4     37908
C11    34609
A1     29653
B3     24812
C6     20767
D14    19520
E13    15167
E18    13985
A7     12783
E5     12226
A15     5621
HTU        8
Name: DISTRICT, dtype: int64

In [1278]:
df1['DISTRICT'] = df1['DISTRICT'].map({
    'B2':1,
    'D4':2,
    'C11':3,
    'A1':4,
    'B3':5,
    'C6':6,
    'D14':7,
    'E13':8,
    'E18':9,
    'A7':10,
    'E5':11,
    'A15':12
})

###### df2

In [1279]:
print(df2['DISTRICT'].isnull().sum())
df2['DISTRICT'].value_counts()

1765

B2     50103
C11    42590
D4     41996
A1     35776
B3     35524
C6     23479
D14    20138
E13    17572
E18    17368
A7     13559
E5     13250
A15     6508
Name: DISTRICT, dtype: int64

In [1280]:
df2['DISTRICT'] = df2['DISTRICT'].map({
    'B2':1,
    'D4':2,
    'C11':3,
    'A1':4,
    'B3':5,
    'C6':6,
    'D14':7,
    'E13':8,
    'E18':9,
    'A7':10,
    'E5':11,
    'A15':12
})

## 5.3. REPORTINGAREA

These columns had different format. First column as float, second - object.

Then i converted all values to float and merged it.

NaN sum = 20 265

In [1281]:
df1['REPORTING_AREA'].describe()

count    268056.000000
mean        250.394626
std         268.133442
min           0.000000
25%           0.000000
50%         167.000000
75%         435.000000
max         962.000000
Name: REPORTING_AREA, dtype: float64

In [1282]:
print(len(df1['REPORTING_AREA'].unique()))
df1['REPORTING_AREA'].value_counts().head(20)

886

0      91211
282     1665
72      1223
355     1219
111     1150
26      1072
186     1051
143     1038
329     1027
465     1006
200      994
624      936
257      920
134      889
330      855
138      839
117      795
796      775
428      769
794      768
Name: REPORTING_AREA, dtype: int64

In [1283]:
df2['REPORTING_AREA'] = pd.to_numeric(df2['REPORTING_AREA'], errors='coerce')

In [1284]:
df2['REPORTING_AREA'].describe()

count    299363.000000
mean        383.205052
std         242.256973
min           0.000000
25%         177.000000
50%         343.000000
75%         544.000000
max         962.000000
Name: REPORTING_AREA, dtype: float64

In [1285]:
print(len(df2['REPORTING_AREA'].unique()))
df2['REPORTING_AREA'].value_counts().head(20)

879

111.0    2384
186.0    2016
329.0    1891
117.0    1833
143.0    1776
624.0    1761
26.0     1748
465.0    1653
130.0    1423
257.0    1417
427.0    1409
428.0    1396
134.0    1390
177.0    1371
520.0    1346
900.0    1317
914.0    1302
444.0    1242
304.0    1241
796.0    1236
Name: REPORTING_AREA, dtype: int64

## 5.4. OCCURRED_ON_DATE

These columns had different values. 

Format for first 
df > **%Y-%m-%d %H:%M:%S** AM/PM (*2012-07-08 01:30:00 PM*)

Format for second df > **%Y-%m-%d %H:%M:%S** 
*(2012-07-08 13:30:00)*

Then i converted all values to datetime (**%Y-%m-%d %H:%M:%S**) and merged it.

In [1286]:
#df1['OCCURRED_ON_DATE'] = pd.to_datetime(df1['OCCURRED_ON_DATE']).dt.strftime('%H:%M:%S')

In [1287]:
df1['OCCURRED_ON_DATE'] = pd.to_datetime(df1['OCCURRED_ON_DATE']).dt.strftime('%Y-%m-%d %H:%M:%S')

In [1288]:
df1['OCCURRED_ON_DATE'][30:60]

30    2012-07-08 11:30:00
31    2012-07-08 11:51:00
32    2012-07-08 11:59:00
33    2012-07-08 12:00:00
34    2012-07-08 12:00:00
35    2012-07-08 12:00:00
36    2012-07-08 12:00:00
37    2012-07-08 12:00:00
38    2012-07-08 12:00:00
39    2012-07-08 12:15:00
40    2012-07-08 12:22:00
41    2012-07-08 12:24:00
42    2012-07-08 12:27:00
43    2012-07-08 12:30:00
44    2012-07-08 12:30:00
45    2012-07-08 12:30:00
46    2012-07-08 12:36:00
47    2012-07-08 12:41:00
48    2012-07-08 12:57:00
49    2012-07-08 13:00:00
50    2012-07-08 13:00:00
51    2012-07-08 13:00:00
52    2012-07-08 13:17:00
53    2012-07-08 13:27:00
54    2012-07-08 13:30:00
55    2012-07-08 13:30:00
56    2012-07-08 13:40:00
57    2012-07-08 13:54:00
58    2012-07-08 14:00:00
59    2012-07-08 14:00:00
Name: OCCURRED_ON_DATE, dtype: object

## 5.5. YEAR

Without problems

In [1289]:
df1['YEAR'].unique()

array([2012, 2013, 2014, 2015])

In [1290]:
df2['YEAR'].unique()

array([2018, 2017, 2016, 2015])

## 5.6. MONTH

Without problems

In [1291]:
df1['MONTH'].unique()

array([ 7,  8,  9, 12,  2, 10,  3, 11,  4,  5,  6,  1])

In [1292]:
df2['MONTH'].unique()

array([ 9,  8,  6,  7, 11, 10,  5, 12,  2,  1,  4,  3])

## 5.7. DAY_OF_WEEK

Without problems

In [1293]:
df1['DAY_OF_WEEK'].unique()

array(['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Friday', 'Thursday',
       'Saturday'], dtype=object)

In [1294]:
df2['DAY_OF_WEEK'].unique()

array(['Sunday', 'Tuesday', 'Monday', 'Saturday', 'Friday', 'Wednesday',
       'Thursday'], dtype=object)

## 5.8. UCR_PART

Converting: Part three => Part Three

Then without problem

In [1295]:
df1['UCR_PART'].unique()

array(['Part One', 'Part Two', 'Part Three', 'Other', 'Part three'], dtype=object)

In [1296]:
df1['UCR_PART'] = df1['UCR_PART'].map({
    'Part One': 1,
    'Part Two': 2,
    'Part Three': 3,
    'Part three': 3,
    'Other': 4
})

In [1297]:
df2['UCR_PART'].unique()

array(['Part One', 'Part Two', 'Part Three', 'Other', nan], dtype=object)

In [1298]:
df2['UCR_PART'] = df2['UCR_PART'].map({
    'Part One': 1,
    'Part Two': 2,
    'Part Three': 3,
    'Other': 4
})

## 5.9. SHOOTING

Converting:

- No / NaN - 0
- Yes/ Y  - 1

In [1299]:
df1['SHOOTING'].unique()

array(['No', 'Yes'], dtype=object)

In [1300]:
df2['SHOOTING'].unique()

array([nan, 'Y'], dtype=object)

In [1301]:
df1['SHOOTING'] = df1['SHOOTING'].map({
    'No':0,
    'Yes':1
})

In [1302]:
df2['SHOOTING'] = df2['SHOOTING'].map({
    'Y':1
})

In [1303]:
df2['SHOOTING'].fillna(0, inplace = True)

In [1304]:
df1['SHOOTING'].value_counts()

0    267359
1       697
Name: SHOOTING, dtype: int64

In [1305]:
df2['SHOOTING'].value_counts()

0.0    318334
1.0      1294
Name: SHOOTING, dtype: int64

## 5.10. Location

Second data sets have columns - ‘Lat’ & ‘Long’, but first don't have it. So, i need select it for our new dataframe.

First, i deleted - ‘(‘ and ‘(‘.

Then, i splitted long and lat and contained it in new columns - “Long”, “Lat”

In [1306]:
df1['Location'][0:10]

0    (42.34638135, -71.10379454)
1    (42.31684135, -71.07458456)
2    (42.34284135, -71.09698955)
3     (42.3164411, -71.06582908)
4    (42.27051636, -71.11989955)
5     (42.31328183, -71.0530059)
6    (42.32425136, -71.08620956)
7    (42.34924634, -71.06378456)
8    (42.35174635, -71.16590953)
9    (42.25938275, -71.11729354)
Name: Location, dtype: object

In [1307]:
df2['Location'][0:10]

0    (42.35779134, -71.13937053)
1    (42.30682138, -71.06030035)
2    (42.34658879, -71.07242943)
3    (42.33418175, -71.07866441)
4    (42.27536542, -71.09036101)
5    (42.29019621, -71.07159012)
6    (42.30607218, -71.08273260)
7    (42.32701648, -71.10555088)
8    (42.33152148, -71.07085307)
9    (42.29514664, -71.05860832)
Name: Location, dtype: object

###### Remove  ( )

In [1308]:
import re

In [1309]:
# https://stackoverflow.com/questions/44263331/pandas-remove-sqare-braces-and-single-quotes/44263739

In [1310]:
df1['Location'] = df1['Location'].apply(lambda x: ' '.join(re.findall(".*?\((.*?)\)", x)))

df1['Location'][0:10]

0    42.34638135, -71.10379454
1    42.31684135, -71.07458456
2    42.34284135, -71.09698955
3     42.3164411, -71.06582908
4    42.27051636, -71.11989955
5     42.31328183, -71.0530059
6    42.32425136, -71.08620956
7    42.34924634, -71.06378456
8    42.35174635, -71.16590953
9    42.25938275, -71.11729354
Name: Location, dtype: object

###### Create Lat and Long

In [1311]:
# https://stackoverflow.com/questions/50885024/get-latitude-longitude-python-pandas

In [1312]:
def create_lat(x):
    return pd.Series([x.split(',')[0][0:], 
                      x.split(',')[1][1:-1]],
                      index = ["Lat", "Long"])

In [1313]:
df1 = pd.concat((df1, df1['Location'].apply(create_lat)), axis=1)

In [1314]:
df1[['Lat','Long']].head()

           Lat         Long
0  42.34638135  -71.1037945
1  42.31684135  -71.0745845
2  42.34284135  -71.0969895
3   42.3164411  -71.0658290
4  42.27051636  -71.1198995

In [1315]:
df1 = df1.drop('X',1)
df1 = df1.drop('Y',1)
df1 = df1.drop('Location',1)
df2 = df2.drop('Location',1)

## 5.11. OFFENSE_CODE_GROUP

###### deep research offense code group

It is the hardest for merge preparation. 

Our second data sets contain name for each offence code, but first data sets contain other name.

So, i need to research description and code for each values in this column. 

See lower…

Example value:

- VAL
- 06xx
- 08xx
- MedAssist
	
We need convert it.

Value_counts for offense code, example:
- Motor Vehicle Accident Response > 38xx
- Larceny > 61x / 62x / 63x
- Medical Assistance > 30xx
- Investigate Person > 3115
- Drug Violation > 18xx

Value_counts for INCIDENT_TYPE_DESCRIPTION, example
- VAL > Violations
- 06xx > Larceny / OTHER LARCENY
- 08xx > Simple Assault
- MedAssist > Medical Assistance / MedAssist
- MVAcc > Motor Vehicle Accident Response / MVAcc

After that, i converted offense code group in useful format. And i given column with 22 unique values (category). See lower:

- 'Residential Burglary', 
- 'Aggravated Assault',
-  'Robbery', 
- 'Other',
- 'Simple Assault', 
- 'Medical Assistance',
- 'Violations', 
- 'Fraud',
- 'Property Found', 
- 'Investigate Person', 
- 'Towed',
- 'Investigate Property',
- 'Drug Violation', 
- 'Missing Person Located',
- 'Property Lost',
- 'Larceny',
- 'Auto Theft',
- 'Warrant Arrests',
- 'Vandalism',
- 'Motor Vehicle Accident Response',
- 'Larceny From Motor Vehicle', 
- 'Verbal Disputes'

In [1316]:
#df1['OFFENSE_CODE_GROUP'].value_counts().head(25)

In [1317]:
#df2['OFFENSE_CODE_GROUP'].value_counts().head(25)

In [1318]:
#######################################################

In [1319]:
#df_two = pd.read_csv('crimeincidentreports.csv')
#df_one = pd.read_csv('crime-incident-reports-july-2012---august-2015-source-legacy-system.csv')

In [1320]:
# Motor Vehicle Accident Response > 38xx
# Larceny > 61x / 62x / 63x
# Medical Assistance > 30xx
# Investigate Person > 3115
# Drug Violation > 18xx
# Simple Assault > 80x
# Vandalism > 14xx
# Verbal Disputes > 3301
# Towed > 3410
# Investigate Property > 3114
# Larceny From Motor Vehicle > 61x / 62x / 63x
# Property Lost > 32xx
# Warrant Arrests > 3125
# Aggravated Assault > 40x, 41x, 42x
# Violations > 29xx
# Fraud > 11xx
# Residential Burglary 52xx / 51xx
# Missing Person Located > 35xx
# Auto Theft > 7xx / 70 71 72
# Robbery > 3xx
# Harassment > 2629
# Property Found > 32xx
# Missing Person Reported > 3501 / 2642
# Confidence Games > 1106

In [1321]:
#df_two['OFFENSE_CODE'].loc[df['OFFENSE_CODE_GROUP']=='Larceny'].value_counts()

In [1322]:
#df_one.columns

In [1323]:
#df1['OFFENSE_CODE_GROUP'].value_counts().head(30)

In [1324]:
# VAL > Violations
# 06xx > Larceny / OTHER LARCENY
# 08xx > Simple Assault
# MedAssist > Medical Assistance / MedAssist
# MVAcc > Motor Vehicle Accident Response / MVAcc
# 14xx > Vandalism / VANDALISM
# InvPer > Investigate Person
# 06MV > Larceny From Motor Vehicle
# 18xx > Drug Violation
# 11xx > Fraud / Confidence Games
# PropLost > Property Lost
# TOWED > TOWED
# 05RB > Residential Burglary
# InvProp > Investigate Property
# 04xx > Aggravated Assault
# Service > Service / Police Service Incidents
# 03xx > Robbery
# 07xx > Auto Theft
# PersLoc > PersLoc
# PropFound > Property Found
# Argue > Verbal Disputes
# OTHER > OTHER
# Arrest > Warrant Arrests / Arrest
# 24xx > DISORDERLY / Disorderly Conduct
# FIRE > FIRE

In [1325]:
#df_one['INCIDENT_TYPE_DESCRIPTION'].loc[df_one['MAIN_CRIMECODE']=='LICViol'].value_counts()

In [1326]:
df1['OFFENSE_CODE_GROUP'] = df1['OFFENSE_CODE_GROUP'].map({
    'VAL': 'Violations', 
    '06xx': 'Larceny',
    '08xx': 'Simple Assault',
    'MedAssist': 'Medical Assistance',
    'MVAcc': 'Motor Vehicle Accident Response',
    '14xx': 'Vandalism',
    'InvPer': 'Investigate Person',
    '06MV': 'Larceny From Motor Vehicle',
    '18xx': 'Drug Violation',
    '11xx': 'Fraud',
    'PropLost': 'Property Lost',
    'TOWED': 'Towed',
    '05RB': 'Residential Burglary',
    'InvProp': 'Investigate Property',
    '04xx': 'Aggravated Assault',
    '03xx': 'Robbery',
    '07xx': 'Auto Theft',
    'PersLoc': 'Missing Person Located',
    'PropFound': 'Property Found',
    'Argue': 'Verbal Disputes',
    'Arrest': 'Warrant Arrests',
    'OTHER': 'Other'
})

In [1327]:
df1['OFFENSE_CODE_GROUP'].fillna('Other', inplace = True)

In [1328]:
print(len(df1['OFFENSE_CODE_GROUP'].unique()))
df1['OFFENSE_CODE_GROUP'].unique()

22

array(['Residential Burglary', 'Aggravated Assault', 'Robbery', 'Other',
       'Simple Assault', 'Medical Assistance', 'Violations', 'Fraud',
       'Property Found', 'Investigate Person', 'Towed',
       'Investigate Property', 'Drug Violation', 'Missing Person Located',
       'Property Lost', 'Larceny', 'Auto Theft', 'Warrant Arrests',
       'Vandalism', 'Motor Vehicle Accident Response',
       'Larceny From Motor Vehicle', 'Verbal Disputes'], dtype=object)

In [1329]:
############################################################

In [1330]:
df2['OFFENSE_CODE_GROUP'] = df2['OFFENSE_CODE_GROUP'].map({
    'Motor Vehicle Accident Response': 'Motor Vehicle Accident Response', #
    'Larceny': 'Larceny', #
    'Medical Assistance': 'Medical Assistance', # 
    'Investigate Person': 'Investigate Person', #
    'Other': 'Other', #
    'Drug Violation': 'Drug Violation', #
    'Simple Assault': 'Simple Assault', #
    'Vandalism': 'Vandalism', #
    'Verbal Disputes':'Verbal Disputes', #
    'Towed':'Towed', #
    'Investigate Property':'Investigate Property', #
    'Larceny From Motor Vehicle': 'Larceny From Motor Vehicle',#
    'Property Lost': 'Property Lost',#
    'Warrant Arrests': 'Warrant Arrests', # 
    'Aggravated Assault': 'Aggravated Assault', #
    'Violations': 'Violations', #
    'Fraud': 'Fraud', # 
    'Residential Burglary': 'Residential Burglary', # 
    'Missing Person Located': 'Missing Person Located', #
    'Auto Theft':'Auto Theft', #
    'Robbery': 'Robbery', # 
    'Property Found': 'Property Found'  #    
})

In [1331]:
df2['OFFENSE_CODE_GROUP'].fillna('Other', inplace = True)

In [1332]:
print(len(df2['OFFENSE_CODE_GROUP'].unique()))
df2['OFFENSE_CODE_GROUP'].unique()

22

array(['Larceny', 'Vandalism', 'Towed', 'Investigate Property',
       'Motor Vehicle Accident Response', 'Auto Theft', 'Verbal Disputes',
       'Robbery', 'Other', 'Property Lost', 'Medical Assistance',
       'Larceny From Motor Vehicle', 'Residential Burglary',
       'Simple Assault', 'Violations', 'Property Found', 'Warrant Arrests',
       'Drug Violation', 'Investigate Person', 'Fraud',
       'Aggravated Assault', 'Missing Person Located'], dtype=object)

## Hour

I selected hour from OCCURRED_ON_DATE

In [1333]:
df1['OCCURRED_ON_DATE'] = pd.to_datetime(df1['OCCURRED_ON_DATE'])
df2['OCCURRED_ON_DATE'] = pd.to_datetime(df2['OCCURRED_ON_DATE'])

In [1334]:
df1['OCCURRED_ON_DATE'].describe()

count                  268056
unique                 172958
top       2015-07-23 00:00:00
freq                      217
first     2012-07-08 06:00:00
last      2015-08-10 05:20:00
Name: OCCURRED_ON_DATE, dtype: object

In [1335]:
df2['OCCURRED_ON_DATE'].describe()

count                  319628
unique                 233229
top       2016-08-01 00:00:00
freq                       31
first     2015-06-15 00:00:00
last      2018-09-03 21:25:00
Name: OCCURRED_ON_DATE, dtype: object

In [1336]:
df1['HOUR'] = df1['OCCURRED_ON_DATE'].apply(lambda x: x.hour)

In [1337]:
df1['HOUR'].describe()

count    268056.000000
mean         12.499597
std           6.626917
min           0.000000
25%           8.000000
50%          13.000000
75%          18.000000
max          23.000000
Name: HOUR, dtype: float64

### Select

In [1338]:
df1 = df1.loc[df1['OCCURRED_ON_DATE'] < '2015-06-15 00:00:00']

In [1339]:
df1['OCCURRED_ON_DATE'].describe()

count                  255598
unique                 170173
top       2013-04-15 14:50:00
freq                       96
first     2012-07-08 06:00:00
last      2015-06-14 23:48:00
Name: OCCURRED_ON_DATE, dtype: object

## Check

In [1340]:
print(df1.shape)
df1.columns

(255598, 12)

Index(['OFFENSE_CODE_GROUP', 'DISTRICT', 'REPORTING_AREA', 'OCCURRED_ON_DATE',
       'SHOOTING', 'YEAR', 'MONTH', 'DAY_OF_WEEK', 'UCR_PART', 'Lat', 'Long',
       'HOUR'],
      dtype='object')

In [1341]:
print(df2.shape)
df2.columns

(319628, 12)

Index(['OFFENSE_CODE_GROUP', 'DISTRICT', 'REPORTING_AREA', 'SHOOTING',
       'OCCURRED_ON_DATE', 'YEAR', 'MONTH', 'DAY_OF_WEEK', 'HOUR', 'UCR_PART',
       'Lat', 'Long'],
      dtype='object')

## Merge

###### After that, i merged these columns.

In [1342]:
df = df1.append(df2, ignore_index=True)

/home/olexandr/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

In [1343]:
del df1
del df2

In [1344]:
df.shape

(575226, 12)

In [1345]:
df.head()

,DAY_OF_WEEK,DISTRICT,HOUR,Lat,Long,MONTH,OCCURRED_ON_DATE,OFFENSE_CODE_GROUP,REPORTING_AREA,SHOOTING,UCR_PART,YEAR
0,Sunday,2.0,6,42.34638135,-71.1037945,7,2012-07-08 06:00:00,Residential Burglary,629.0,0.0,1.0,2012
1,Sunday,1.0,6,42.31684135,-71.0745845,7,2012-07-08 06:03:00,Aggravated Assault,327.0,1.0,1.0,2012
2,Sunday,2.0,6,42.34284135,-71.0969895,7,2012-07-08 06:26:00,Robbery,625.0,0.0,1.0,2012
3,Sunday,1.0,6,42.3164411,-71.0658290,7,2012-07-08 06:56:00,Other,258.0,0.0,1.0,2012
4,Sunday,9.0,7,42.27051636,-71.1198995,7,2012-07-08 07:15:00,Robbery,496.0,0.0,1.0,2012

#### Check our data

In [1346]:
# DAY_OF_WEEK

df['DAY_OF_WEEK'].unique()

array(['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Friday', 'Thursday',
       'Saturday'], dtype=object)

In [1347]:
# DISTRICT

df['DISTRICT'].unique()

array([  2.,   1.,   9.,   3.,   4.,   7.,   6.,   8.,   5.,  10.,  12.,
        11.,  nan])

In [1348]:
# HOUR

df['HOUR'].unique()

array([ 6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22,
       23,  0,  1,  2,  3,  4,  5])

In [1349]:
# lat

df['Lat'] = pd.to_numeric(df['Lat'])
df['Lat'].describe()

count    555206.000000
mean         41.334056
std           6.398242
min          -1.000000
25%          42.296039
50%          42.325491
75%          42.348656
max          42.395042
Name: Lat, dtype: float64

In [1350]:
# long
# ???????????????????????

df['Long'] = pd.to_numeric(df['Long'])
df['Long'].describe()

count    555206.000000
mean        -69.425687
std          10.722598
min         -71.178674
25%         -71.097200
50%         -71.077099
75%         -71.061394
max           0.000000
Name: Long, dtype: float64

In [1351]:
# MONTH

df['MONTH'].unique()

array([ 7,  8,  9, 12,  2, 10,  3, 11,  4,  5,  6,  1])

In [1352]:
# OCCURRED_ON_DATE

df['OCCURRED_ON_DATE'].describe()

count                  575226
unique                 403402
top       2013-04-15 14:50:00
freq                       96
first     2012-07-08 06:00:00
last      2018-09-03 21:25:00
Name: OCCURRED_ON_DATE, dtype: object

In [1353]:
# OFFENSE_CODE_GROUP

print(len(df['OFFENSE_CODE_GROUP'].unique()))
df['OFFENSE_CODE_GROUP'].unique()

22

array(['Residential Burglary', 'Aggravated Assault', 'Robbery', 'Other',
       'Simple Assault', 'Medical Assistance', 'Violations', 'Fraud',
       'Property Found', 'Investigate Person', 'Towed',
       'Investigate Property', 'Drug Violation', 'Missing Person Located',
       'Property Lost', 'Larceny', 'Auto Theft', 'Warrant Arrests',
       'Vandalism', 'Motor Vehicle Accident Response',
       'Larceny From Motor Vehicle', 'Verbal Disputes'], dtype=object)

In [1354]:
# REPORTING_AREA

print(len(df['REPORTING_AREA'].unique()))
df['REPORTING_AREA'].describe()

887

count    554961.000000
mean        319.637962
std         263.584996
min           0.000000
25%          96.000000
50%         289.000000
75%         492.000000
max         962.000000
Name: REPORTING_AREA, dtype: float64

In [1355]:
# SHOOTING

df['SHOOTING'].unique()

array([ 0.,  1.])

In [1356]:
# UCR_PART

df['UCR_PART'].unique()

array([  1.,   2.,   3.,   4.,  nan])

In [1357]:
# YEAR

df['YEAR'].unique()

array([2012, 2013, 2014, 2015, 2018, 2017, 2016])

In [1359]:
df.head()

,DAY_OF_WEEK,DISTRICT,HOUR,Lat,Long,MONTH,OCCURRED_ON_DATE,OFFENSE_CODE_GROUP,REPORTING_AREA,SHOOTING,UCR_PART,YEAR
0,Sunday,2.0,6,42.346381,-71.103794,7,2012-07-08 06:00:00,Residential Burglary,629.0,0.0,1.0,2012
1,Sunday,1.0,6,42.316841,-71.074585,7,2012-07-08 06:03:00,Aggravated Assault,327.0,1.0,1.0,2012
2,Sunday,2.0,6,42.342841,-71.096990,7,2012-07-08 06:26:00,Robbery,625.0,0.0,1.0,2012
3,Sunday,1.0,6,42.316441,-71.065829,7,2012-07-08 06:56:00,Other,258.0,0.0,1.0,2012
4,Sunday,9.0,7,42.270516,-71.119900,7,2012-07-08 07:15:00,Robbery,496.0,0.0,1.0,2012

### export

In [1358]:
df.to_csv('crime-boston.csv')